UL.gfield_text_captcha_str {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em 0;
}
UL.gfield_text_captcha_str > LI.gfield_text_captcha_line {
  padding: 0;
  margin: 0;
  white-space: pre;
  font-family: monospace;
  font-size: 12px;
  line-height: 10px;
  unicode-bidi: embed;
  list-style: none;
  user-select: none;
}
