.gfield_text_captcha_container .gfield_text_captcha_img {
  position: relative;
  overflow: hidden;
}
.gfield_text_captcha_container UL.gfield_text_captcha_str {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  padding: 1em 0;
}
.gfield_text_captcha_container UL.gfield_text_captcha_str > LI.gfield_text_captcha_line {
  padding: 0;
  margin: 0;
  white-space: pre;
  font-family: monospace;
  font-size: 12px;
  line-height: 10px;
  unicode-bidi: embed;
  list-style: none;
  user-select: none;
}
.gfield_text_captcha_container .gfield_text_captcha_inputs {
  display: flex;
  flex-flow: row nowrap;
}
.gfield_text_captcha_container .ginput_container_text_captcha {
  display: inline-block;
  width: 100%;
}
.gfield_text_captcha_container .gfield_text_captcha_try_another {
  display: inline-block;
  margin-left: 0.5em;
}
